/* .logo_container {
  display: flex;
}

.searchbar_container {
  display: flex;
}

.dropbox_container {
  display: flex;
}

.stockinfo_container {
  display: flex;
}

.chart_container {
  padding-left: 20%;
}

.signal_container {
  display: flex;
} */
